ac-comphist.dat
auto-save-list/*
backups/*
elpa/*
places
url/*
swank/*
.smex-items
/eshell
/tramp
*~
/session.*
/.python-environments
/saved-places
/elpa.prev
/ido.last
/recentf
/projectile-bookmarks.eld
/.cask